@model MagicVilla_Web.Models.Dtos.VillaUpdateDTO

<form asp-action="UpdateVilla">
    <div class="container border pb-3">
        <h1 class="text-primary">Update Villa</h1>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
                <input hidden asp-for="Id" class="form-control" />               
            
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
            <div class="col-2">
                <label asp-for="Details" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
          
            <div class="col-2">
                <label asp-for="Rate" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
         
            <div class="col-2">
                <label asp-for="Occupancy" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Occupancy" class="form-control" />
                <span asp-validation-for="Occupancy" class="text-danger"></span>
            </div>
           
            <div class="col-2">
                <label asp-for="Sqft" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Sqft" class="form-control" />
                <span asp-validation-for="Sqft" class="text-danger"></span>
            </div>
          
            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
           
            <div class="col-2">
                <label asp-for="Amenity" class="control-label pt-2"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Amenity" class="form-control" />
                <span asp-validation-for="Amenity" class="text-danger"></span>
            </div>
          
            <div class="col-5 offset-2">
                <a asp-action="IndexVilla" class="btn-primary btn form-control">Cancel Update</a>
            </div>
            <div class="col-5">
                <input type="submit" class="btn btn-success form-control" />

            </div>

        </div>
    </div>
</form>